[submodule "libraries/3rdparty/libpng"]
	path = libraries/3rdparty/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "libraries/3rdparty/zlib/zlib"]
	path = libraries/3rdparty/zlib/zlib
	url = https://github.com/madler/zlib
